html {
  font-family: Verdana;
  color: white;
  text-align: center;
  background-color: black;
}
h1 {
  font-weight: normal;
  font-size: 50px;
}
a {
  color: aquamarine;
  font-size: 16px;
}
p {
  color: gray;
  font-size: 21px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
.center {
  margin: 0 auto;
  width: 400px;
}

#copyright {
  text-align: right;
  color: gray;
}
